.app-layout{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    transition: all 0.2s ease-in-out;

    .layout-main{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }
}