.about-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;

    
    .journey-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: clamp(20px, 10%, 80px);
        border-bottom: 1px solid var(--secondary-color);
        box-sizing: border-box;
        padding-top: 15px;
        padding-bottom: 35px;
      

        .journey-list{
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;

            
        }
        
    }

    .section-header{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-inline: auto;
            align-items: center;
            margin-bottom: 20px;
            min-height: fit-content;
            
            hr{
                width: 100%;
                height: 2px;
                background-color: var(--accent-color);
                border: var(--accent-color);
                margin: auto;
            }
            h2{
                min-width: fit-content;
                text-align: center;
                color: var(--accent-color);
                border: 1.5px solid var(--accent-color);
                border-radius: 10px;
                padding: 5px 10px;
                margin-inline: 10px;
                font-weight: 400;
                font-size: clamp(1rem, 1vw, 1.5rem); 
            }
    }

    .about-section{
        
        width: 100%;
        max-width: 1440px;
        padding-inline: clamp(20px, 10%, 80px);
        padding-top: 10px;
        padding-bottom: 35px;
        box-sizing: border-box;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;

        hr{
            height: 1px;
            background-color: var(--accent-color);
            border: 1px solid var(--accent-color);
            width: 100%;
        }


         .about-header{
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            h2{
                text-align: center;
                font-weight: 400;
                margin-inline: 20px;
                color: var(--accent-color);
                font-size: clamp(16px, 2.4vw, 24px);
            }

            hr{
                flex: 1;
                height: 0px;
                background-color: var(--accent-color);
                border: 0.5px solid var(--accent-color);
            }
        }

        .child-section{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-bottom: 10px;
            gap: 20px;
         
        }
        .about-content{
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 250px;
            gap: 20px;

            &.education-content{
                flex: 1;
                height: fit-content;
            }
        }

        
            .education-container{
                width: 100%;
                flex: 1;
                padding: 6px 20px;
                border-radius: 8px;
                box-sizing: border-box;
                box-shadow: 0 0 5px rgb(184, 184, 184);
                gap: 5px;
                
                p{  
                    display: flex;
                    flex-direction: column;
                    color: var(--text-color);
                    line-height: 1.5;
                    span{
                        margin-left: 5px;
                        font-weight: 600;
                        color: var(--accent-color);
                    }
                }

                .affiliations{
                    margin-top: 4px;
                    text-align: center;
                    color: var(--accent-color);
                    font-weight: 600;
                    padding-bottom: 4px;
                    border-bottom: 1px solid var(--accent-color);
                }

                .achievements-item{
                    display: flex;
                    flex-direction: column;
                }
            }
        

            .experience-container{
                padding: 15px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                box-shadow: 0 0 5px rgb(184, 184, 184);
                color: var(--text-color);

                .description {
                    margin: 5px 0px 10px 0;
                    white-space: pre-line;
                    line-height: 1.5;
                    text-align: justify;
                }

                .experience-item{
                text-transform: uppercase;
                margin: 0 0px;
                color: var(--accent-color);
                font-weight: 600;
                margin-bottom: 6px;
                }

                .skills-tags{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    .tag{
                        margin: 3px;
                        padding: 6px 10px;
                        border-radius: 5px;
                        border: 1px solid var(--accent-color);
                        color: var(--accent-color);
                    }
                }
            }

            .passion-container{
                padding: 15px;
                border-radius: 8px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                color: var(--text-color);
                .description {
                    margin: 5px auto;
                    text-align: center;
                    font-size: clamp(1rem, 1.5vw, 1.2rem);  
                }
                .passion-item-container{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    justify-content: center;
                
                    .passion-item{
                        padding: 6px 10px;
                        border-radius: 5px;
                        border: 1px solid var(--accent-color);
                        color: var(--accent-color);
                    }
                }
               
            }

            .learning-container{
                padding: 15px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                width: 100%;
                color: var(--text-color);

                 .quote{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin: 0 auto;
                    font-weight: 600;
                    color: var(--accent-color);
                    font-style: italic;
                    text-align: center;
                    font-size: clamp(1.4rem, 1.5vw, 40px);
                    
                    span{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        padding: 5px 10px;
                        color: rgba(159, 45, 0, 0.786);
                    }
                }
                .description {
                    margin: 5px auto;
                    text-align: center;
                    font-size: clamp(1rem, 1.5vw, 1.2rem);  
                }
            }

            

            #education, #experiencem, #passion, #learning{
                scroll-margin-top: 100px;
            }
        

        
    }

}