.about-grid{
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    gap: 5%;

    .about-content{
        hr{
            width: 100%;
            height: 2px;
            background-color: var(--accent-color);
            border: var(--accent-color);
            margin: 20px auto 30px auto;
        }
        
        p{
            color: var(--accent-color);
            
            &.head{
                margin: auto;
                font-size: clamp(1.5rem, 2.7vw, 2rem);
                font-weight: 500;
            }

            &.body{
                text-align: justify;
                margin: auto;
                font-size: clamp(1rem, 1.5vw, 1.3rem);
            }
        }
        
        .about-card{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            opacity: 0.7;
            margin: auto;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            gap: 20px;

            .about-info{
                width: 40%;
                text-align: left;

                .year{
                font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                margin: 0 auto 10px auto;
                font-weight: 500;
                }
                
                .text{
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                margin: 0 auto 10px auto;
                }

            }
            
        }
    }

    

    .reverse{
        order: -1;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 30px;

        .reverse{
            order: 1;
        }

        .rev{
            order: -1;
            
            p{
                text-align: right;
            }
        }
    }
}