:root{
    --primary-color: #686D76;
    --secondary-color:#373A40;
    --background-color: #EEEEEE;
    --text-color: #1b1d1f;
    --accent-color:#dc5f00;
    --toggle-icon-color: #1b1d1f;
}

.dark{
    --primary-color:#373A40;
    --secondary-color:#111214;
    --background-color:#1b1d1f;
    --text-color:#EEEEEE;
    --accent-color:#dc5f00;
    --toggle-icon-color: #EEEEEE;
}