.about-banner{
    width: 100%;
    max-width: 1440px;
    padding-inline: clamp(20px, 10%, 80px);
    padding-top: 30px;
    padding-bottom: 35px;
    box-sizing: border-box;
    min-height: 70vh;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;//clamp(15px, 2vw, 35px);

    .banner-content{
        width: 50%;
        min-width: 250px;

        p{
            font-size: clamp(16px, 1.5vw,18px);
            color: var(--accent-color);
        }
        h1{
            font-size: clamp(1.8rem, 3vw, 45px);
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: 500;
            color: var(--accent-color);
        }
        hr{
            border: 2px solid var(--accent-color);
        } 
    }

    @media screen and (max-width: 740px) {
        flex-direction: column-reverse;
        .banner-content{
            width: 100%;
            text-align: center;
        }
    }
}