.projects-container{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    box-sizing: border-box;
    background-clip: content-box; 
    gap: 25px;

    .project-card{
        margin: auto;
        background-color: var(--secondary-color);
        flex: 0 0 clamp(330px, 29%, 400px);
        height: 500px;
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
        border-radius: 15px;
        overflow: hidden;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid var(--accent-color);
        box-shadow: 0 0 2px var(--secondary-color);

        img{
            width: 100%;
            height: 50%;
            margin-bottom: 10px;
        }

        p{
            color: var(--accent-color); 
        }

        .project-title{
            margin-inline: 7%;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 1.3rem;

            span{
                border: 1px solid var(--accent-color);
                font-size: 1rem; padding: 3px;
                align-self: center;
                margin-left: 10px;
                border-radius: 5px;
            }
        }

        .project-desc{
            margin-inline: 7%;
            border-top: 2px solid var(--accent-color);
            padding-top: 8px;
            flex: 1;
            overflow: hidden;
            margin-top: 5px;
            margin-bottom: 8px;
            font-size: 1.2rem;
            text-align: justify;
            font-weight: 200;
            -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 95%);
            mask-image: linear-gradient(to bottom, black 50%, transparent 95%);
        }

        button{
            width: 50%;
            font-size: 1rem;
            padding: 5px;
            margin-top: auto;
            margin-bottom: 20px;
            margin-inline: auto;
            border: 2px solid var(--accent-color);
            background: transparent;
            color: var(--accent-color);
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: var(--accent-color);
                color: var(--background-color);
            
            }

        }
        
        &:hover{
            transform: scale(1.02);
        }
    }

    &::-webkit-scrollbar {
        height: 5px;   
    }

    &::-webkit-scrollbar-track {
        background: var(--primary-color);     
    }

    &::-webkit-scrollbar-thumb {
        background: var(--accent-color);       /* scrollbar color */
        border-radius: 10px;
    }

    @media screen and (max-width: 1400px) {
        
        scroll-padding: 0 30px; 
        padding: 0 30px 10px 30px;
        
    }

     @media screen and (max-width: 1150px) {
        justify-content: flex-start;
     }




}